<div class="container mb-5">
    <h2>Book Edit Form</h2>
    <div class="card mt-5">
     <form #myForm="ngForm" (submit)="editBook()">
      <div class="card-header bg-warning">EDIT BOOK DETAILS</div>
      <div class="card-body">
          
            <div class="form-group">
              <label for="bookId">Book ID :</label>
              <!-- replaced text box for book id with the data being
                  display directly using string interpolation on the page
                  so that the user cannot update the primary key-->
              {{ updateBook.id }}
            <div class="form-group">
            <label for="bookTitle">Book Title:</label>
            <input type="text" 
                class="form-control" 
                id="bookTitle"  
                name="bookTitle"
                #bTitle="ngModel"
                (change)="logTitleChange(bTitle)"
                required
                [(ngModel)]="updateBook.bookTitle">
            <div 
                *ngIf='bTitle.invalid' 
                class="text-danger small" >
                Book Title is required!
            </div>
            </div>
            <div class="form-group">
            <label for="bookAuthor">Book Author:</label>
            <input type="text" 
                    class="form-control" 
                    id="bookAuthor"  
                    name="bookAuthor"
                    required
                    [(ngModel)]="updateBook.bookAuthor">
            </div>
            <div class="form-group">
            <label for="bookGenre">Book Genre</label>
            <input type="text" 
                    class="form-control" 
                    id="bookGenre"  
                    name="bookGenre"
                    required
                    [(ngModel)]="updateBook.bookGenre">
            </div>
            <div class="form-group">
            <label for="bookCost">Book Cost:</label>
            <input type="text" 
                    class="form-control" 
                    id="bookCost"  
                    name="bookCost"
                    required
                    [(ngModel)]="updateBook.bookCost">
            </div>
            <div class="form-group">
            <label for="bookImage">Book Image URL:</label>
            <input type="text" 
                    class="form-control" 
                    id="bookImage"  
                    name="bookImage"
                    required
                    [(ngModel)]="updateBook.bookImage">
            </div>
      </div> 
      <div class="card-footer bg-warning">
          <button 
                type="submit" 
                [disabled]='!myForm.valid'
                class="btn btn-danger mr-5">Update</button>
      </div>
    </div>
    </form>
    </div>
  </div>
